<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recycle.ecoeco.accounting.model.dao.manager.AdminPaymentMapper">

    <resultMap id="generalPaymentResultMap" type="com.recycle.ecoeco.accounting.model.dto.PaymentDTO">
        <id property="paymentNo" column="paymentNo"/>
        <association property="order" resultMap="orderResultMap"/>
        <association property="reward" resultMap="rewardResultMap"/>
        <association property="project" resultMap="projectResultMap"/>
        <association property="orderer" resultMap="userInfoResultMap"/>
    </resultMap>

    <resultMap id="paymentResultMap" type="com.recycle.ecoeco.accounting.model.dto.PaymentDTO">
        <id property="paymentNo" column="paymentNo"/>
    </resultMap>

    <resultMap id="projectResultMap" type="com.recycle.ecoeco.makerProject.model.dto.ProjectDTO">
        <id property="projectNo" column="projectNo"/>
<!--        <association property="maker" resultMap="makerResultMap"/>-->
    </resultMap>

    <resultMap id="makerResultMap" type="com.recycle.ecoeco.makerProject.model.dto.MakerDTO">
        <id property="makerNo" column="makerNo"/>
        <association property="user" resultMap="userInfoResultMap"/>
    </resultMap>

    <resultMap id="userInfoResultMap" type="com.recycle.ecoeco.membership.model.dto.UserInfoDTO">
        <id property="userNo" column="userNo"/>
        <association property="bankAccount" resultMap="bankAccountResultMap"/>
    </resultMap>

    <resultMap id="bankAccountResultMap" type="com.recycle.ecoeco.accounting.model.dto.BankAccountDTO">
        <id property="accountNo" column="accountNo"/>
    </resultMap>

    <resultMap id="orderResultMap" type="com.recycle.ecoeco.accounting.model.dto.OrderDTO">
        <id property="orderNo" column="orderNo"/>
    </resultMap>
    <resultMap id="rewardResultMap" type="com.recycle.ecoeco.makerProject.model.dto.RewardDTO">
        <id property="rewardNo" column="rewardNo"/>
    </resultMap>



    <!-- 프로젝트 신규 리스트 토탈 카운트 -->
    <select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT
        COUNT(*)
        FROM
        `payment` A
        <!--        <if test="searchCondition == 'categoryName'">-->
        <!--            JOIN-->
        <!--            CATEGORY C ON(A.categoryCode = C.categoryCode)-->
        <!--        </if>-->
        <!--        <where>-->
        <!--            <if test="searchCondition == 'projectNo'">-->
        <!--                A.projectNo = #{ searchValue }-->
        <!--            </if>-->
        <!--            <if test="searchCondition == 'projectName'">-->
        <!--                A.projectName LIKE CONCAT('%', #{ searchValue }, '%')-->
        <!--            </if>-->
        <!--            <if test="searchCondition == 'categoryName'">-->
        <!--                C.categoryName LIKE CONCAT('%', #{ searchValue }, '%')-->
        <!--            </if>-->
        <!--            <if test="searchCondition == 'projectStatus'">-->
        <!--                A.projectStatus = #{ searchValue }-->
        <!--            </if>-->
        <!--            <if test="searchConditionDate == 'requestDate'">-->
        <!--                <choose>-->
        <!--                    <when test="searchDate1 != '' and searchDate1 != null and searchDate2 != '' and searchDate2 != null">-->
        <!--                        A.requestDate BETWEEN #{ searchDate1 } AND #{ searchDate2 }-->
        <!--                    </when>-->
        <!--                    <when test="(searchDate1 != '' and searchDate1 != null and searchDate2 == '') or (searchDate1 != '' and searchDate1 != null and searchDate2 != null)">-->
        <!--                        <![CDATA[ A.requestDate >= #{ searchDate1 } ]]>-->
        <!--                    </when>-->
        <!--                    <otherwise>-->
        <!--                        <![CDATA[ A.requestDate <= #{ searchDate2 } ]]>-->
        <!--                    </otherwise>-->
        <!--                </choose>-->
        <!--            </if>-->
        <!--            <if test="searchConditionDate == 'approvalDate'">-->
        <!--                <choose>-->
        <!--                    <when test="searchDate1 != '' and searchDate1 != null and searchDate2 != '' and searchDate2 != null">-->
        <!--                        A.approvalDate BETWEEN #{ searchDate1 } AND #{ searchDate2 }-->
        <!--                    </when>-->
        <!--                    <when test="(searchDate1 != '' and searchDate1 != null and searchDate2 == '') or (searchDate1 != '' and searchDate1 != null and searchDate2 != null)">-->
        <!--                        <![CDATA[ A.approvalDate >= #{ searchDate1 } ]]>-->
        <!--                    </when>-->
        <!--                    <otherwise>-->
        <!--                        <![CDATA[ A.approvalDate <= #{ searchDate2 } ]]>-->
        <!--                    </otherwise>-->
        <!--                </choose>-->
        <!--            </if>-->
        <!--            <if test="searchConditionDate == 'startDate'">-->
        <!--                <choose>-->
        <!--                    <when test="searchDate1 != '' and searchDate1 != null and searchDate2 != '' and searchDate2 != null">-->
        <!--                        A.startDate BETWEEN #{ searchDate1 } AND #{ searchDate2 }-->
        <!--                    </when>-->
        <!--                    <when test="(searchDate1 != '' and searchDate1 != null and searchDate2 == '') or (searchDate1 != '' and searchDate1 != null and searchDate2 != null)">-->
        <!--                        <![CDATA[ A.startDate >= #{ searchDate1 } ]]>-->
        <!--                    </when>-->
        <!--                    <otherwise>-->
        <!--                        <![CDATA[ A.startDate <= #{ searchDate2 } ]]>-->
        <!--                    </otherwise>-->
        <!--                </choose>-->
        <!--            </if>-->
        <!--            &lt;!&ndash;            <if test="searchConditionDate == 'requestDate' and searchDate1 != '' and searchDate1 != null and searchDate2 != '' and searchDate2 != null">&ndash;&gt;-->
        <!--            &lt;!&ndash;                A.requestDate BETWEEN #{ searchDate1 } AND #{ searchDate2 }&ndash;&gt;-->
        <!--            &lt;!&ndash;            </if>&ndash;&gt;-->
        <!--            &lt;!&ndash;            <if test="(searchConditionDate == 'requestDate' and searchDate1 != '' and searchDate1 != null and searchDate2 == '') or (searchConditionDate == 'requestDate' and searchDate1 != '' and searchDate1 != null and searchDate2 != null)">&ndash;&gt;-->
        <!--            &lt;!&ndash;                <![CDATA[ A.requestDate >= #{ searchDate1 } ]]>&ndash;&gt;-->
        <!--            &lt;!&ndash;            </if>&ndash;&gt;-->
        <!--            &lt;!&ndash;            <if test="(searchConditionDate == 'requestDate' and searchDate2 != '' and searchDate2 != null and searchDate1 == '') or (searchConditionDate == 'requestDate' and searchDate2 != '' and searchDate2 != null and searchDate1 != null)">&ndash;&gt;-->
        <!--            &lt;!&ndash;                <![CDATA[ A.requestDate <= #{ searchDate2 } ]]>&ndash;&gt;-->
        <!--            &lt;!&ndash;            </if>&ndash;&gt;-->
        <!--            &lt;!&ndash;            <if test="searchConditionDate == 'approvalDate'">&ndash;&gt;-->
        <!--            &lt;!&ndash;                A.approvalDate BETWEEN #{ searchDate1 } AND #{ searchDate2 }&ndash;&gt;-->
        <!--            &lt;!&ndash;            </if>&ndash;&gt;-->
        <!--            &lt;!&ndash;            <if test="searchConditionDate == 'startDate'">&ndash;&gt;-->
        <!--            &lt;!&ndash;                A.startDate BETWEEN #{ searchDate1 } AND #{ searchDate2 }&ndash;&gt;-->
        <!--            &lt;!&ndash;            </if>&ndash;&gt;-->
        <!--            AND A.projectStatus in ('2','3','4')-->
        <!--        </where>-->
    </select>

    <!-- 결제 리스트 -->
    <select id="findPaymentList" resultMap="paymentResultMap">
        SELECT
        paymentNo,
        paymentPrice,
        paymentDate,
        apiPayNo,
        projectNo,
        orderNo,
        rewardNo,
        userNo
        FROM
        PAYMENT
        ORDER BY
        paymentNo DESC
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 결제 상세 페이지 -->
    <select id="paymentListDetail" resultMap="generalPaymentResultMap">
        SELECT
            PY.paymentNo,
            PY.paymentPrice,
            PY.paymentDate,
            PY.apiPayNo,
            PY.projectNo,
            PY.orderNo,
            PY.rewardNo,
            PY.userNo,
            P.projectName,
            O.orderPrice,
            O.paymentCategory,
            R.rewardName,
            U.userId,
            U.userName,
            U.userAccount,
            U.accountNo,
            B.bankName
        FROM
            PAYMENT PY
        LEFT JOIN
            `ORDER` O ON PY.orderNo = O.orderNo
        LEFT JOIN
            REWARD R ON PY.rewardNo = R.rewardNo
        LEFT JOIN
            PROJECT P ON PY.projectNo = P.projectNo
        LEFT JOIN
            USER_INFO U ON PY.userNo = U.userNo
        LEFT JOIN
            BANK_ACCOUNT B ON U.accountNo = B.accountNO
        WHERE
            PY.paymentNo = #{paymentNo}
    </select>
</mapper>