<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recycle.ecoeco.membership.model.dao.manager.AdminCustomerMapper">

    <resultMap id="userResultMap" type="com.recycle.ecoeco.membership.model.dto.UserInfoDTO">
        <id property="userNo" column="userNo"/>
        <association property="bankAccount" resultMap="bankAccountResultMap"/>
<!--        <result property="userName" column="userName"/> -->
    </resultMap>

    <resultMap id="bankAccountResultMap" type="com.recycle.ecoeco.accounting.model.dto.BankAccountDTO">
        <id property="accountNo" column="accountNo"/>
    </resultMap>


    <parameterMap type="com.recycle.ecoeco.membership.model.dto.UserInfoDTO" id="userParameterMap">
        <parameter property="userName" jdbcType="VARCHAR" javaType="String" />
        <parameter property="userEmail" jdbcType="VARCHAR" javaType="String" />
        <parameter property="userPnum" jdbcType="VARCHAR" javaType="String" />
        <parameter property="userGrade" jdbcType="INTEGER" javaType="Integer" />
        <parameter property="userNo" jdbcType="INTEGER" javaType="Integer" />
    </parameterMap>


    <!-- 프로젝트 신규 리스트 토탈 카운트 -->
    <select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT
        COUNT(*)
        FROM
        user_info A
<!--        <if test="searchCondition == 'categoryName'">-->
<!--            JOIN-->
<!--            CATEGORY C ON(A.categoryCode = C.categoryCode)-->
<!--        </if>-->
<!--        <where>-->
<!--            <if test="searchCondition == 'projectNo'">-->
<!--                A.projectNo = #{ searchValue }-->
<!--            </if>-->
<!--            <if test="searchCondition == 'projectName'">-->
<!--                A.projectName LIKE CONCAT('%', #{ searchValue }, '%')-->
<!--            </if>-->
<!--            <if test="searchCondition == 'categoryName'">-->
<!--                C.categoryName LIKE CONCAT('%', #{ searchValue }, '%')-->
<!--            </if>-->
<!--            <if test="searchCondition == 'projectStatus'">-->
<!--                A.projectStatus = #{ searchValue }-->
<!--            </if>-->
<!--            <if test="searchConditionDate == 'requestDate'">-->
<!--                <choose>-->
<!--                    <when test="searchDate1 != '' and searchDate1 != null and searchDate2 != '' and searchDate2 != null">-->
<!--                        A.requestDate BETWEEN #{ searchDate1 } AND #{ searchDate2 }-->
<!--                    </when>-->
<!--                    <when test="(searchDate1 != '' and searchDate1 != null and searchDate2 == '') or (searchDate1 != '' and searchDate1 != null and searchDate2 != null)">-->
<!--                        <![CDATA[ A.requestDate >= #{ searchDate1 } ]]>-->
<!--                    </when>-->
<!--                    <otherwise>-->
<!--                        <![CDATA[ A.requestDate <= #{ searchDate2 } ]]>-->
<!--                    </otherwise>-->
<!--                </choose>-->
<!--            </if>-->
<!--            <if test="searchConditionDate == 'approvalDate'">-->
<!--                <choose>-->
<!--                    <when test="searchDate1 != '' and searchDate1 != null and searchDate2 != '' and searchDate2 != null">-->
<!--                        A.approvalDate BETWEEN #{ searchDate1 } AND #{ searchDate2 }-->
<!--                    </when>-->
<!--                    <when test="(searchDate1 != '' and searchDate1 != null and searchDate2 == '') or (searchDate1 != '' and searchDate1 != null and searchDate2 != null)">-->
<!--                        <![CDATA[ A.approvalDate >= #{ searchDate1 } ]]>-->
<!--                    </when>-->
<!--                    <otherwise>-->
<!--                        <![CDATA[ A.approvalDate <= #{ searchDate2 } ]]>-->
<!--                    </otherwise>-->
<!--                </choose>-->
<!--            </if>-->
<!--            <if test="searchConditionDate == 'startDate'">-->
<!--                <choose>-->
<!--                    <when test="searchDate1 != '' and searchDate1 != null and searchDate2 != '' and searchDate2 != null">-->
<!--                        A.startDate BETWEEN #{ searchDate1 } AND #{ searchDate2 }-->
<!--                    </when>-->
<!--                    <when test="(searchDate1 != '' and searchDate1 != null and searchDate2 == '') or (searchDate1 != '' and searchDate1 != null and searchDate2 != null)">-->
<!--                        <![CDATA[ A.startDate >= #{ searchDate1 } ]]>-->
<!--                    </when>-->
<!--                    <otherwise>-->
<!--                        <![CDATA[ A.startDate <= #{ searchDate2 } ]]>-->
<!--                    </otherwise>-->
<!--                </choose>-->
<!--            </if>-->
<!--            &lt;!&ndash;            <if test="searchConditionDate == 'requestDate' and searchDate1 != '' and searchDate1 != null and searchDate2 != '' and searchDate2 != null">&ndash;&gt;-->
<!--            &lt;!&ndash;                A.requestDate BETWEEN #{ searchDate1 } AND #{ searchDate2 }&ndash;&gt;-->
<!--            &lt;!&ndash;            </if>&ndash;&gt;-->
<!--            &lt;!&ndash;            <if test="(searchConditionDate == 'requestDate' and searchDate1 != '' and searchDate1 != null and searchDate2 == '') or (searchConditionDate == 'requestDate' and searchDate1 != '' and searchDate1 != null and searchDate2 != null)">&ndash;&gt;-->
<!--            &lt;!&ndash;                <![CDATA[ A.requestDate >= #{ searchDate1 } ]]>&ndash;&gt;-->
<!--            &lt;!&ndash;            </if>&ndash;&gt;-->
<!--            &lt;!&ndash;            <if test="(searchConditionDate == 'requestDate' and searchDate2 != '' and searchDate2 != null and searchDate1 == '') or (searchConditionDate == 'requestDate' and searchDate2 != '' and searchDate2 != null and searchDate1 != null)">&ndash;&gt;-->
<!--            &lt;!&ndash;                <![CDATA[ A.requestDate <= #{ searchDate2 } ]]>&ndash;&gt;-->
<!--            &lt;!&ndash;            </if>&ndash;&gt;-->
<!--            &lt;!&ndash;            <if test="searchConditionDate == 'approvalDate'">&ndash;&gt;-->
<!--            &lt;!&ndash;                A.approvalDate BETWEEN #{ searchDate1 } AND #{ searchDate2 }&ndash;&gt;-->
<!--            &lt;!&ndash;            </if>&ndash;&gt;-->
<!--            &lt;!&ndash;            <if test="searchConditionDate == 'startDate'">&ndash;&gt;-->
<!--            &lt;!&ndash;                A.startDate BETWEEN #{ searchDate1 } AND #{ searchDate2 }&ndash;&gt;-->
<!--            &lt;!&ndash;            </if>&ndash;&gt;-->
<!--            AND A.projectStatus in ('2','3','4')-->
<!--        </where>-->
    </select>

    <select id="findCustomerList" resultMap="userResultMap">
        SELECT
        u.userNo,
        u.userName,
        u.userId,
        u.userDate,
        u.userPoint
        FROM
        USER_INFO u
        ORDER BY
        u.userNo DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="userListDetail" resultMap="userResultMap">
        SELECT
        ui.userNo,
        ui.userId,
        ui.userPwd,
        ui.userName,
        ui.userPnum,
        ui.userEmail,
        ui.userBirth,
        ui.userGender,
        ui.userGrade,
        ui.userPoint,
        ui.userDate,
        ui.userAccount,
        ui.userAddress,
        ui.userRole,
        ui.accountNo,
        ba.bankName
        FROM
        USER_INFO ui
        LEFT JOIN
        BANK_ACCOUNT ba ON ui.userAccount = ba.accountNo
        WHERE
        ui.userNo = #{userNo};
    </select>

    <!-- 회원 삭제 -->
    <delete id="deleteCustomer" parameterType="int">
        DELETE FROM USER_INFO
        WHERE userNo = #{userNo}
    </delete>


    <update id="updateCustomerGrade" parameterType="java.util.Map">
        UPDATE user_info
        SET
            userGrade = #{userGrade}
        WHERE
            userNo = #{userNo}
    </update>



</mapper>
