<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>서포터,메이커 FAQ 상세페이지</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/user/borad/faqDetailsPage.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/user/common/header.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/user/common/footer.css}"/>
  <script th:src="@{/js/main/user/header.js}"></script>
</head>
<body>
<div th:replace="~{/user/common/header::header}"></div>
  <div class="details">

    <div class="details_title">
      <h1>환불정책이 궁금해요</h1>
    </div>

    <div class="details_img">
      <img src="/images/user/main/faq_details_page.png" alt="상세내용이미지">
    </div>

  </div>
  <div th:replace="/user/common/footer.html"></div>
</body>
</html>