<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메이커 FAQ</title>
  <style>
    p {
      color: rgb(13, 158, 158);
      font-weight: bold;
    }
    .text {
      font-weight: bold;
    }
    .box {
      border: 1px solid #000;
      border-radius: 20px;
      box-shadow: 0 0 10px;
    }
  </style>
</head>
<body>
    <h1>메이커 FAQ</h1>
    
    <div>

      <div class="box">
        <p class="text">회원 정보 변경은 어떻게 하나요?</p>
        <p>기본정보 설정에서 닉네임, 이메일, 연락처 등을 언제든지 변경할 수 있어요</p>
      </div>
      <div class="box">
        <p class="text">새소식 알림 설정은 어떻게 하나요?</p>
        <p>ECOECO에서 언제든지 설정을 변경하실 수 있어요. 프로젝트 별로 새소식 알림을 각각 설정 가능해요</p>
      </div>
      <div class="box">
        <p class="text">ECOECO 회원 가입은 어떻게 하나요?</p>
        <p>네이버, 구글 계정 혹은 이메일을 사용하여 간편하게 가입이 가능해요. 메인페이지의 회원가입 버튼 클릭</p>
      </div>
      <div class="box">
        <p class="text">아이디/비밀번호를 분실 했는데 어떻게 해야 하나요?</p>
        <p>아이디 및  비밀번호 찾기 기능을 통해 회원 정보를 찾을 수 있어요</p>
      </div>
    </div>

    <div>

      <div class="box">
        <p class="text">결제의 종류는 무엇이 있나요?</p>
        <p>결제의 종류로는 신용카드결제, 체크카드결제, 무통장입금이 있어요</p>
      </div>
      <div class="box">
        <p class="text">펀딩 참여 내역은 어떻게 확인하나요?</p>
        <p>펀딩 참여 내역 조회는 마이페이지 - 후원한 프로젝트 조회를 통해 확인할 수 있어요</p>
      </div>
      <div class="box">
        <p class="text">결제 취소 내역을 볼 수 있나요?</p>
        <p>결제 취소 내역 확인은 마이페이지 - 나의 프로젝트 - 프로젝트 조회 - 결제현황 조회를 통해 확인 가능해요 </p>
      </div>
      <div class="box">
        <p class="text">할부 결제 가능한가요?</p>
        <p>네 카드결제 시 할부 개월 선택이 가능해요</p>
      </div>
    </div>

    <div>

      <div class="box">
        <p class="text">나의 포인트는 어디서 확인하나요?</p>
        <p>나의 포인트는 마이페이지에서 확인 가능해요</p>
      </div>
      <div class="box">
        <p class="text">이미 참여한 펀딩에 쿠폰 적용 가능한가요?</p>
        <p>펀딩 참여를 마쳤거나 결제가 완료된 경우 포인트 적용이 어려워요</p>
      </div>
      <div class="box">
        <p class="text">생일 축하 포인트는 어떻게 발급받나요?</p>
        <p>주민등록상 생일 기준으로 전, 후 3일동안 앱 접속 시 자동 발급되요</p>
      </div>
    </div>

    <div>

      <div class="box">
        <p class="text">결제의 종류는 무엇이 있나요?</p>
        <p>결제의 종류로는 신용카드결제, 체크카드결제, 무통장입금이 있어요</p>
      </div>
      <div class="box">
        <p class="text">펀딩 참여 내역은 어떻게 확인하나요?</p>
        <p>펀딩 참여 내역 조회는 마이페이지 - 후원한 프로젝트 조회를 통해 확인할 수 있어요</p>
      </div>
      <div class="box">
        <p class="text">결제 취소 내역을 볼 수 있나요?</p>
        <p>결제 취소 내역 확인은 마이페이지 - 나의 프로젝트 - 프로젝트 조회 - 결제현황 조회를 통해 확인 가능해요 </p>
      </div>
      <div class="box">
        <p class="text">할부 결제 가능한가요?</p>
        <p>네 카드결제 시 할부 개월 선택이 가능해요</p>
      </div>
    </div>

    <div>

      <div class="box">
        <p class="text">결제의 종류는 무엇이 있나요?</p>
        <p>결제의 종류로는 신용카드결제, 체크카드결제, 무통장입금이 있어요</p>
      </div>
      <div class="box">
        <p class="text">펀딩 참여 내역은 어떻게 확인하나요?</p>
        <p>펀딩 참여 내역 조회는 마이페이지 - 후원한 프로젝트 조회를 통해 확인할 수 있어요</p>
      </div>
      <div class="box">
        <p class="text">결제 취소 내역을 볼 수 있나요?</p>
        <p>결제 취소 내역 확인은 마이페이지 - 나의 프로젝트 - 프로젝트 조회 - 결제현황 조회를 통해 확인 가능해요 </p>
      </div>
      <div class="box">
        <p class="text">할부 결제 가능한가요?</p>
        <p>네 카드결제 시 할부 개월 선택이 가능해요</p>
      </div>
    </div>

    <div>

      <div class="box">
        <p class="text">결제의 종류는 무엇이 있나요?</p>
        <p>결제의 종류로는 신용카드결제, 체크카드결제, 무통장입금이 있어요</p>
      </div>
      <div class="box">
        <p class="text">펀딩 참여 내역은 어떻게 확인하나요?</p>
        <p>펀딩 참여 내역 조회는 마이페이지 - 후원한 프로젝트 조회를 통해 확인할 수 있어요</p>
      </div>
      <div class="box">
        <p class="text">결제 취소 내역을 볼 수 있나요?</p>
        <p>결제 취소 내역 확인은 마이페이지 - 나의 프로젝트 - 프로젝트 조회 - 결제현황 조회를 통해 확인 가능해요 </p>
      </div>
      <div class="box">
        <p class="text">할부 결제 가능한가요?</p>
        <p>네 카드결제 시 할부 개월 선택이 가능해요</p>
      </div>
    </div>
</body>
</html>