/* 페이지 여백 없에기 */
html,body{margin: 0;padding: 0; width: 100%;}

/* 페이지 틀(프로젝트 생성은 모두 동일)*/
#wrap{width: 1440px;}/*전체 요소를 감싸는 요소 (margin: 0 auto 제거한 상태)*/
/*header{height: 200px; background-color: lightgray;}*/
aside{width:20%; background-color: #37BD6D; float: left;min-width: 230px;}
main{width: 82%; display: inline-block;}


.subwrap{display: flex;}
aside{flex: 1; position: relative;}
.sticky-area{position: sticky; top:20%;}
.sticky-area ul{margin: 0; padding: 0; line-height: 50%;}
.sticky-area ul li:nth-child(1){border-top:3px solid white;}
.sticky-area ul li{display: block; height: 100px; border-bottom:3px solid white;  text-align: center; line-height: 100px; font-size: large; font-weight: bold;}
.sticky-area ul li a{color: black; text-decoration: none;}
.sticky-area ul li a:visited{color: black;}



.box{position:relative; width:800px; height:300px; margin: 100px auto; display: flex;}
.box .left-area  p{display: inline-block;}
.box .left-area .p-title{font-size: xx-large; font-weight: 600;}
.box .left-area .p-sub{width:300px;}

.left-area{width: 45%; height:100%;}
.right-area{width: 55%; height:100%; padding-top: 70px;padding-left: 100px;}
.top-area{width: 100%; height:40%;}
.bottom-area{width: 100%; height:60%;}

/*프로젝트 요약*/
.summary_area{display: flex; flex-direction:column; width:740px; height:350px; margin: 100px auto;}
.top-area .p-title{font-size: xx-large; font-weight: 600; margin-bottom:0;}
.top-area .p-sub{width:100%;}
.bottom-area textarea{width:100%; height: 100%; box-sizing: border-box; resize: none; overflow-y: scroll;font-size: x-large;}
.left-area .p-title {margin-bottom:0;}

/* 대표 이미지 업로드 */
/*input[type="file"]{*/
/*    display: none;*/
/*}*/
/*.imgBtn{width:300px; height: 200px; background-color: #b9bdba; margin:50px auto; text-align: center;*/
/*border:2px solid black}*/

/* 스토리 작성 */
.write-area{height: 600px; display: flex; flex-direction: column;}
#editor{width: 100%;height:100%; border: 2px solid; box-sizing: border-box;}
.editor-menu{width:100%;}
.editor-menu button{width:30px; height: 30px;}

.write-area .top-area{height: 5%;}
.write-area .bottom-area{height: 95%;}


.storyBtn-area{width: 100%; text-align: center; margin-left: 0%; margin-bottom: 50px;
}
.storyBtn{ width: 300px; height:100px;  border-radius: 10px; background-color: #37BD6D; border-style: none; font-weight: bold; font-size: large; color: white;}
.storyBtn:hover{background-color:#36a362;}
/*.writeClear{width: 300px; height:100px; border-radius: 10px; border-style: none; box-sizing: border-box; font-weight: bold; font-size: large; color: white;}*/

/* 에디터 CSS(토스트 아님) */
.editor-container {
    border: 1px solid #ccc;
    padding: 10px;
}
 .editor-toolbar {
     margin-bottom: 10px;
 }
.editor-toolbar button {
    margin-right: 5px;
}
.editor-content {
    min-height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
}
.resizable-img {
    cursor: pointer;
}

