/* 상단 베너 이미지 */
.banner {
    width: 1440px;
    height: auto;

}
.banner_img {
    width: 1440px;
    height: 500px;
}
.banner_img img {
    width: 100%;
    height: auto;
}
.banner_text {
    font-size: 30px;
    z-index: 1;
    top: 50px;
    left: 50px;
}

/* 서포터, 메이커 버튼 */
.all-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
/* 서포터, 메이커 버튼 박스 */
.box1, .box2 {
    background-color: rgb(195, 250, 236);
    /*padding: 50px;*/
    border-radius: 50px;
    box-shadow: 0 0 20px;
    width: 400px;
    height: 200px;
    display: block;
    margin: 0 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* 버튼 이미지 */
.box1_image, .box2_image {
    width: 80px;
    padding-top: 25px;
}
/* 버튼 텍스트 */
.box-text {
    font-size: 30px;
    margin-top: 10px;
    color: rgb(30, 109, 89);
}