<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>배송정보입력 페이지</title>
  <style>
    .info {
      border-bottom: 1px solid rgb(194, 192, 192);
      padding-bottom: 30px;
    }
    .button {
      margin-top: 30px;
    }
  </style>
</head>
<body>
  <div class="info">
    <h3>배송정보</h3>
    <div>
      <label for="recipient">수령인</label>
      <input type="text" id="recipient" name="recipient">
    </div>
    <div>
      <label for="phoneNo">연락처</label>
      <input type="text" id="phoneNo" name="phoneNo">
    </div>
    <div>
      <label for="address">배송지</label>
      <input type="text" id="address" name="address">
    </div>
  </div>

  <button class="button" type="submit">확인</button>
</body>
</html>