body {
    display: flex;
    flex-direction: column; /* 요소들을 세로로 나열 */
    align-items: center; /* 수직 중앙 정렬 */
    height: 100vh; /* 화면 높이 기준으로 정렬 */
    margin: 0; /* 바디의 마진 제거 */
}

main {
    flex-grow: 1; /* main 요소가 남은 공간을 차지하도록 함 */
    display: flex; /* 메인 요소를 플렉스 컨테이너로 설정 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

header{display: flex; flex-direction: column; box-shadow: 0 4px 12px gray;}

.middle{width: 100%;}
.logo{display:flex; justify-content: center;}
.logo img{width:300px; height: 80px; margin-bottom:20px;}

.findId,
.findPwd {
    width: 300px;
    height: 40px;
    border-radius: 8px;
    background-color: black;
    color: white;
}