body {
    display: flex;
    flex-direction: column; /* 요소들을 세로로 나열 */
    align-items: center; /* 수직 중앙 정렬 */
    height: 100vh; /* 화면 높이 기준으로 정렬 */
    margin: 0; /* 바디의 마진 제거 */
}

.searchidBox {
    flex-grow: 1; /* main 요소가 남은 공간을 차지하도록 함 */
    display: flex; /* 메인 요소를 플렉스 컨테이너로 설정 */
    flex-direction: column; /* 내부 요소들을 세로로 정렬하기 위해 컬럼으로 설정 */
    justify-content: center; /* 수직 가운데 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
    text-align: center; /* 내부 텍스트를 가운데 정렬 */
    margin-bottom: 100px;
}

header{display: flex; flex-direction: column; box-shadow: 0 4px 12px gray;}

.middle{width: 100%;}
.logo{display:flex; justify-content: center;}
.logo img{width:300px; height: 80px; margin-bottom:20px;}

.searchIdName,
.searchIdEmail {
    width: 300px;
    height: 40px;
    border-radius: 8px;
    /* position: relative; left: 15%; */
}

.searchIdButton {
    width: 300px;
    height: 40px;
    border-radius: 8px;
    background-color: #47AD57;
    /* position: relative; left: 15%; */
    cursor: pointer;
}

.findIdModal {
    display: none; /* 기본적으로는 안 보이도록 설정 */
    position: fixed; /* 화면을 가득 채우도록 설정 */
    z-index: 1; /* 다른 모든 요소 위에 표시되도록 설정 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 스크롤이 필요한 경우 스크롤 허용 */
    background-color: rgba(0,0,0,0.4); /* 모달 외부의 배경을 어둡게 설정 */
}

.successFindIdModal-content {
    background-color: white;
    margin: 15% auto; /* 모달을 화면 가운데로 위치시키기 */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* 모달의 너비를 조정할 수 있습니다. */
    text-align: center;
    border-radius: 20px;
}

.successFindIdModal-content button {
    margin: 0px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    border: 0px solid;
}

#FindIdModal_button {
    background-color: black;
    cursor: pointer;
}

.searchPwdId,
.searchPwdEmail {
    width: 300px;
    height: 40px;
    border-radius: 8px;
    /* position: relative; left: 15%; */
}

.searchPwdButton {
    width: 300px;
    height: 40px;
    border-radius: 8px;
    background-color: #47AD57;
    /* position: relative; left: 15%; */
    cursor: pointer;
}

.findPwdModal {
    display: none; /* 기본적으로는 안 보이도록 설정 */
    position: fixed; /* 화면을 가득 채우도록 설정 */
    z-index: 1; /* 다른 모든 요소 위에 표시되도록 설정 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 스크롤이 필요한 경우 스크롤 허용 */
    background-color: rgba(0,0,0,0.4); /* 모달 외부의 배경을 어둡게 설정 */
}

.successFindPwdModal-content {
    background-color: white;
    margin: 15% auto; /* 모달을 화면 가운데로 위치시키기 */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* 모달의 너비를 조정할 수 있습니다. */
    text-align: center;
    border-radius: 20px;
}

.successFindPwdModal-content button {
    margin: 0px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    border: 0px solid;
}

#FindPwdModal_button {
    background-color: black;
    cursor: pointer;
}