<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리워드 설계</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/common/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/common/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/sub/reward/reward.css}">
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/user/sub/reward/modifyModal.css}">-->
</head>
<body>


<div class="m-area">
    <div class="m-frame">
        <div class="cancel-img">
            <img src="/images/user/common/modal_cancel.png" alt="모달창 닫기 버튼 이미지">
        </div>
        <form method="post" action="/user/project/rewardInsert">
            <input type="hidden" name="projectNo" id="projectNo" th:value="${ projectNo }">
            <div class="m-margin-frame">
                <p class="pp__title">리워드 설계</p>
                <p class="pp"><label for="amount">목표 금액 </label></p>
                <input type="text" id="amount" name="rewardPrice">

                <p class="pp"><label for="reward-name">리워드명 </label></p>
                <input type="text" id="reward-name" name="rewardName">

                <p class="pp"><label for="reward-explain">리워드 설명</label></p>
                <textarea id="reward-explain" name="rewardInfo"></textarea>

                <!-- 리워드 저장,취소 -->
                <div class="modal__final-btn">
                    <button type="button" class="cancel final-btn">취소하기</button>
                    <button type="submit" class="add final-btn">저장하기</button>
                </div>

            </div>
        </form>
    </div>
</div>

<!--    <div class="modify-area">(쓰레기)-->
<!--        &lt;!&ndash;리워드 수정 모달창(평상시에는 안보이게, css는 reward.css에서 한번에 관리)&ndash;&gt;-->
<!--        <div th:insert="~{/user/sub/reward/modifyModal.html :: modifyModal}"></div>-->
<!--    </div>-->

<div th:replace="~{/user/common/header.html}"></div>
<div id="wrap">

    <div class="subwrap">
        <aside>
            <div class="sticky-area">
                <ul>
                    <li><a href="/user/project/projectInfo/projectInfo">프로젝트 작성</a></li>
                    <li><a href="/user/project/maker/maker">메이커 정보</a></li>
                    <li><a href="/user/project/reward/reward">리워드 설계</a></li>
                    <li><a href="/user/project/story/story">스토리 정보</a></li>
                </ul>
            </div>
        </aside>
        <main>
            <div class="reward__title">
                <p class="main-title">리워드 설계</p>
                <p class="main-sub">서포터님들에게 제공할 리워드를 입력해주세요.</p>
            </div>
            <div class="box">
                <div class="r-info">
                    <p class="r-sub-title">리워드 주의사항</p>
                    <div class="r-sub-info">
                        <div class="sub1 sub">
                            <div class="p-flex">
                                <p>정렬순서</p>
                                <p class="sub-text">
                                    혜택이 좋은 순서대로 등록해 주세요.
                                    제한 수량이 모두 소진된 리워드는 설정한 순서와 상관없이 리워드 목록 최하단에 노출돼요.</p>
                            </div>
                        </div>
                        <div class="sub2 sub">
                            <div class="p-flex">
                                <p>제한 수량</p>
                                <p class="sub-text">
                                    각 리워드별 제공할 수 있는 수량을 입력해 주세요.
                                    제한된 수량이 모두 소진되면 이 리워드를 선택할 수 없어요.
                                </p>
                            </div>
                        </div>
                        <div class="sub3 sub">
                            <div class="p-flex">
                                <p>옵션 조건</p>
                                <p class="sub-text">
                                    사이즈, 색상 등의 옵션 설정이 필요하면 추가해 주세요.
                                </p>
                            </div>
                        </div>
                        <div class="sub4 sub">
                            <div class="p-flex">
                                <p>주의사항</p>
                                <p class="sub-text">
                                    펀딩 프로젝트의 경우 판매된 적 있는 제품∙서비스∙콘텐츠는 반드시 첫 출시 리워드와 세트로 구성해 주세요.
                                    자사몰 및 다른 채널에서 판매된 적 있는 리워드는 단독 리워드로 제공할 수 없어요</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <button type="button" class="r-creat-btn">리워드 생성</button>


            <!--            <div th:if="${errorMessage}" class="alert alert-danger">-->
            <!--                <p th:text="${errorMessage}"></p>-->
            <!--            </div>-->

            <div class="r-area">
                <div class="r-box" th:each="i:${reward}">
                    <form method="post" action="/user/project/deleteReward">
                        <input type="hidden" name="projectNo" th:value="${projectNo}">
                        <div class="r-sum-mark">
                            <p th:text="${i.rewardPrice}+'원'">금액 표시</p>
                        </div>
                        <div class="r-name">
                            <p th:text="${i.rewardName}">리워드명</p>
                        </div>
                        <div class="r-mark">
                            <p th:text="${i.rewardInfo}">리워드 내용</p>
                        </div>
                        <div class="r-box-btn">
                            <!-- <button class="rewrite-btn">수정</button>-->
                            <input type="hidden" name="rewardNo" th:value="${i.rewardNo}">
                            <button class="delete-btn" type="submit">삭제</button>
                        </div>
                    </form>
                </div>
            </div>



            <div class="saveBtn-area">
                <button type="button" class="saveBtn" th:onclick="|location.href='@{/user/project/story/story(projectNo = ${ projectNo })}'|" style="font-weight: bold; font-size: large; color: white;">저장하기</button>
            </div>
            </form>
        </main>
    </div>

</div>
<div th:replace="~{/user/common/footer.html}"></div>

<script src="/js/user/common/header.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // 리워드 생성 버튼 클릭 이벤트
    document.querySelector('.r-creat-btn').addEventListener('click',function(e){
        document.querySelector('.m-area').classList.add('m-block');
    })

    // 모달창 닫기(x이미지) 클릭 이벤트
    document.querySelector('.cancel-img').addEventListener('click', function(e){
        document.querySelector('.m-area').classList.remove('m-block');
    })

    // const deleteBtn = document.querySelector('.delete-btn');
    // deleteBtn.addEventListener('click',function (e){
    //     alert("test");
    // })
</script>

</body>
</html>