html, body{margin: 0; padding: 0; width: 100%; min-width: 600px;}
#wrap{max-width: 1440px; margin: 0 auto;}

/* 헤더 테스트 */
header{display: flex; flex-direction: column;}
.top{display: flex; flex-direction: row; justify-content:flex-end; padding-top: 10px; padding-right: 10px;}
.top .btn{width: 130px; height: 50px; cursor: pointer;}
.top .ljBtn{border:none; background-color:rgba(0, 0, 0, 0);}
.top .project{border-radius:10px ; background-color: #37BD6D; border: none; font-weight: bold; color: white;}
.middle{width: 100%;}
.logo{display:flex; justify-content: center;}
.logo img{width:350px; height: 220px;}
.gnb{width: 100%;}
.gnb ul{display: flex; flex-direction: row; margin: 0; padding: 0; justify-content: center;}
.gnb ul li{display: block; width: 150px; height: 50px; text-align: center;
line-height:50px;}
.gnb ul li a{text-decoration: none;}
.gnb ul li a:visited{color: black;}
.gnb ul li input[type=text] { border: 2px solid lightgray; border-radius: 10px; height: 30px;}

/* 서브 네비게이션 */
.sub-nav{height: 70px; background-color:#37BD6D;box-shadow: 0 4px 12px gray;}
.sub-nav ul{display: flex; flex-direction: row; gap:10%; justify-content: center; list-style: none;margin: 0;}
.sub-nav ul li{text-align: center; line-height: 70px;}


/* 상위 컨텐츠 */
.content-top{width: 100%; display: flex; flex-direction: row; height: 850px; padding-top: 50px; border-bottom:3px solid lightgray;}
.util-area{width: 56%; height: 800px;}
.util-box{width: 100%; height: 800px; border: 3px solid lightgray; box-sizing: border-box;}
.util-box img{width: 100%; height: 100%;}
.funding-area{width:44%; height: 800px;}
.funding-inner{width: 80%; height: 800px; margin:0 auto; position: relative;}
.funding-text{border-bottom: 2px solid lightgray; padding-bottom: 10px;}
.funding-select{position: absolute; top:43%; width: 100%;}

/* 이미지 박스(util-box) */
.story-img-area{width: 100%;}

/* 프로젝트 정보 텍스트 */
.maker-name{display: block; width: 100%; border-bottom: 2px solid lightgray; font-size: 23px; padding-bottom: 5px;}
.project-name{font-size: xx-large; font-weight: bold;}
.project-simple-info{font-size: 20px; font-weight: bold;}
.funding-text p:nth-child(4){color:#37BD6D;}
/* 달성률, 원 공통 폰트 */
.pj-word{font-size: 30px;}
/* 공통 달성 폰트 */
.project-complete{font-size: 17px;}

/* 리워드 선택 */
.selectBtn{width: 80%; height: 70px; background-color: #37BD6D; border-radius: 10px; margin: 0 auto; text-align: center; line-height: 50px; cursor: pointer;}
.cate-list{width:80%; margin:0 auto; border-radius: 10px; max-height: 200px; overflow-y: scroll; margin-top: 10px; border:2px solid #37BD6D; display: none;   transition: all 1s;}
.cate-list::-webkit-scrollbar { display: none;}
.cate-list ul{margin: 0; padding: 0; border-radius: 10px;}
.cate-list ul li{display: block;height: 50px; background-color: #F1F9F4; width: 100%; border-bottom:2px solid #37BD6D; text-align: center; line-height: 50px; cursor: pointer;}

/* 리스트 펼치기 */
.list__block { display: block;}

/* 하위 컨텐츠 */
.content-bottom{width: 100%; padding-top:50px;}
.story-img-area{width: 90%; margin: 0 auto;}



/* 리스트 테스트 */
/* 사용자 reviews */
.review-box{width: 100%; min-width: 340px;}
.reviews_user{list-style: none;}
.reviews_user li {margin-bottom: 20px;border-bottom: 1px solid #d5d5d5; width: 100%;}
.reviews_user .user-img{display: inline-block; width: 70px; height: 70px; background-color: #37BD6D;}
.reviews_user .btn{padding: 0 30px; background-color: #FF3131; margin-left: 10%;}
.reviews_user .btn.modify{background-color: #47ad57;}
.reviews_user .name {font-size: 16px; font-weight: 600;  padding-right: 15px;}
.reviews_user .category {padding-left: 10px; padding-right: 10px; color: #fff; background-color: #FF7733; border-radius:4px;}
.reviews_user .category.review {background-color: #47ad57;}
.reviews_user .comment {padding: 10px 15px 10px 15px; font-size: 16px; font-weight: 400;}
.reviews_user .date {margin-bottom:10px; font-size: 16px; color: #9e9e9e;}
.reviews_write textarea {width: 100%; margin-bottom: 20px;}
.reviews_write .category {padding-left: 10px; padding-right: 10px; color: #fff; background-color: #FF7733; border-radius:4px;}
.reviews_write .category.review {background-color: #47ad57;}
.reviews_write .btn_save {padding: 0 30px; background-color: #47ad57;}

/* 테스트(정리 필요)*/
.user-img-info-set{display: flex; flex-direction: row; gap:10px;}
.user-info{width: 90%;}