<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>findId</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/user/mypage/searchid.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/common/footer.css}">

    <script type="text/javascript" th:src="@{/js/user/mypage/findUser.js}"></script>
</head>
<body>
<header style="height: 203px; width: 100%;">
    <div class="middle">
        <div class="logo">
            <a href="/main">
                <img src="/images/user/common/ecoeco_logo.png" alt="에코에코 로고">
            </a>
        </div>
    </div>
</header>
<main style="width: 1440px;">

    <form id="findId" method="post" action="/user/mypage/findId">
        <div style="position: relative; left: 20%;">
            <h2>아이디 찾기</h2>
            <hr style="text-align: left; margin-left: 0px; width: 60%;">
        </div>
        <br>
        <br>
        <br>
        <div class="searchidBox">
            <div>
                <input id="userName" name="userName" class="searchIdName" type="text" placeholder="이름을 입력해 주세요">
            </div>
            <br>
            <div>
                <input id="userEmail" name="userEmail" class="searchIdEmail" type="email" placeholder="이메일을 입력해 주세요">
            </div>
            <br><br>
            <button type="button" class="searchIdButton" onclick="openFindIdModal()">아이디 찾기</button>
        </div>

    </form>>
    <div id="findIdModal" class="findIdModal" style="display: none;">
        <div class="successFindIdModal-content">
            <p id="successFindIdModal"></p>
            <p id="failFindIdModal"></p>
            <p id="failFindIdModal2"></p>
            <button id="FindIdModal_button" onclick="closeFindIdModal()">확인</button>
        </div>
    </div>

</main>

<div style="height: 322px; width: 100%;">
    <footer th:replace="user/common/footer :: footerFragment" >

    </footer>
</div>

<!--    <script type="text/javascript" th:src="@{/js/user/mypage/findUser.js}"></script>-->


</body>
</html>