<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/user/mypage/mypagemain.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/common/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/common/footer.css}">

</head>
<body>

<div style="height: 340px; width: 100%;">
    <header th:replace="/user/common/header"></header>
</div>

<main style="height: 900px; width: 1440px;">
    <aside th:replace="/user/mypage/mypage_SideBar"></aside>

    <div style="float: left; width: 70%; height: 850px;">
        <div class="detailBarBox">
            <table class="myprojectDetailBar" style="width: 80%; margin-top: 50px;">
                <tr>
                    <td th:onclick="|location.href='/user/project/detail/detail?projectNo=${projectNo}'|">프로젝트정보</td>
                    <td th:onclick="|location.href='/user/project/detail/detail?projectNo=${projectNo}'|">스토리</td>
                    <td th:onclick="|location.href='/user/mypage/news?projectNo=${projectNo}'|">새소식</td>
                    <td th:onclick="|location.href='/user/project/detail/detail?projectNo=${projectNo}'|">응원/리뷰</td>
                    <td th:onclick="|location.href='/user/project/detail/detail?projectNo=${projectNo}'|" style="border-right: none;">리워드정보</td>
                </tr>

            </table>
        </div>
        <form id="mypageNewsForm" action="/user/mypage/news">
            <div style="margin-top: 50px;">
                <h2 style="width: 500px; display: inline;">새소식</h2>
                <button type="button" class="registNewsButton" th:onclick="|location.href='/user/mypage/registNews?projectNo=${projectNo}'|">새소식 등록</button>
                <hr style="text-align: left; margin-left: 0px; width: 70%;"><br>
            </div>

            <div>
                <div>
                    <tr th:each="newsDTO: ${newsDTO}">
                        <td>
                            <sub th:text="${newsDTO.newsCategory}"></sub>
                            <p th:text="${newsDTO.newsTitle}" th:onclick="|location.href='/user/mypage/registNewsDetail?newsNo=${newsDTO.newsNo}'|" style="margin: 0px; cursor: pointer;"></p>
                            <sup>새소식 번호 :
                                <span th:text="${newsDTO.newsNo}"></span>&nbsp&nbsp
                                등록일 :
                                <span th:text="${newsDTO.newsDate}"></span>
                            </sup>
                            <hr style="text-align: left; margin-left: 0px; margin-top: 0px; width: 70%; border-style: dashed;">
                        </td>
                    </tr>
                </div>
            </div>
        </form>
    </div>
</main>

<div style="height: 322px; width: 100%;">
    <footer th:replace="user/common/footer :: footerFragment">

    </footer>
</div>

</body>
</html>             