<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment_Status</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/user/mypage/mypagemain.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/common/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/common/footer.css}">

</head>
<body>

<div style="height: 340px; width: 100%;">
    <header th:replace="/user/common/header"></header>
</div>

<main style="height: 900px; width: 1440px;">
    <aside th:replace="/user/mypage/mypage_SideBar"></aside>

    <div style="float: left; width: 70%; height: 850px;">

        <div>
            <h2>결제현황 조회</h2>
            <hr style="text-align: left; margin-left: 0px; width: 90%;"><br>
        </div>

        <form id="payment_StatusForm" action="/user/mypage/payment_Status">
            <table id="payment_Status_table">
                <tr class="payment_Status_title">
                    <th scope="col">결제번호</th>       <!-- paymentNo -->
                    <th scope="col">이름</th>          <!-- userName -->
                    <th scope="col">아이디</th>        <!-- userId -->
                    <th scope="col">프로젝트번호</th>   <!-- projectNo -->
                    <th scope="col">결제번호</th>       <!-- apiPayNo -->
                    <th scope="col">결제일시</th>       <!-- paymentDate -->
                    <th scope="col">결제금액</th>       <!-- paymentPrice -->
                </tr>
                <tr th:each="paymentDTO: ${paymentDTO}" class="payment_Status_detail">
                    <td th:text="${paymentDTO.paymentNo}"></td>             <!-- paymentNo -->
                    <td th:text="${paymentDTO.orderer.userName}"></td>      <!-- userName -->
                    <td th:text="${paymentDTO.orderer.userId}"></td>        <!-- userId -->
                    <td th:text="${paymentDTO.projectNo}"></td>             <!-- projectNo -->
                    <td th:text="${paymentDTO.apiPayNo}"></td>              <!-- apiPayNo -->
                    <td th:text="${paymentDTO.paymentDate}"></td>           <!-- paymentDate -->
                    <td th:text="${paymentDTO.paymentPrice}"></td>          <!-- paymentPrice -->
                </tr>
            </table>
        </form>

    </div>
</main>

<div style="height: 322px; width: 100%;">
    <footer th:replace="user/common/footer :: footerFragment">

    </footer>
</div>

</body>
</html>