<div th:replace="~{/manager/common/header.html}"></div>
<div th:replace="~{/manager/common/gnb.html}"></div>
	
	<div class="sub_wrap">
		<aside id="lnb">
			<ul class="menu">
				<li><a href="/manager/customer/customer_list">회원 관리</a></li>
				<li><a href="/manager/project/project_new_list">프로젝트 관리</a></li>
				<li class="btn_sub on">
					<a href="#">결제 및 정산 관리</a>
					<ul class="sub_menu" style="display: block;">
						<li><a href="/manager/ordertab/order/order_list">주문</a></li>
						<li class="on"><a href="/manager/ordertab/payment/payment_list">결제 현황</a></li>
						<li><a href="/manager/ordertab/settlement/settlement_list">정산대기</a></li>
						<li><a href="/manager/ordertab/refund/refund_list">취소 환불</a></li>
					</ul>
				</li>
				<li><a href="/manager/board/adminNoticeList">게시판관리</a></li>

			</ul>
		</aside>		
		<div class="container clearfix">
			<div class="content">

				<div class="list_tit">
					<h3>결제정보</h3>
				</div>
				<div class="list">
					<div class="search_wrap">
						<div class="scrollable">
							<table class="search_list">
								<caption>상세보기</caption>
								<colgroup>
									<col>
									<col>
									<col>
								</colgroup>
								<thead>
									<tr>
										<th scope="col">결제번호</th>
										<th scope="col">결제분류</th>
										<th scope="col">주문금액</th>
										<th scope="col">프로젝트번호</th>
										<th scope="col">리워드번호</th>
									</tr>
								</thead>
								<tbody class="td_bcw">
									<tr>
										<td th:text="${ paymentInfo.paymentNo }"></td>
										<td th:text="${ paymentInfo.order.paymentCategory }"></td>
										<td th:text="${#numbers.formatInteger(paymentInfo.order.orderPrice,1,'COMMA')}"></td>
										<td th:text="${ paymentInfo.projectNo }"></td>
										<td th:text="${ paymentInfo.rewardNo }"></td>
									</tr>
								</tbody>
							</table>
							<br><br><br>
							<table class="search_list">
								<caption>상세보기</caption>
								<colgroup>
									<col>
									<col>
									<col>
									<col>
									<col>
									<col>
									<col>
								</colgroup>
								<thead>
									<tr>
										<th scope="col">아이디</th>
										<th scope="col">이름</th>
										<th scope="col">결제금액</th>
										<th scope="col">결제일시</th>
										<th scope="col">환불은행</th>
										<th scope="col">환불계좌</th>
									</tr>
								</thead>
								<tbody class="td_bcw">
								<td th:text="${ paymentInfo.getOrderer.userId }"></td>
								<td th:text="${ paymentInfo.getOrderer.userName }"></td>
								<td th:text="${#numbers.formatInteger(paymentInfo.paymentPrice,1,'COMMA')}"></td>
								<td th:text="${#temporals.format(paymentInfo.paymentDate, 'yyyy-MM-dd HH:mm')}"></td>
								<td th:text="${ paymentInfo.orderer.userAccount }"></td>
								<td th:text="${ paymentInfo.orderer.bankAccount.bankName }"></td>
								</tbody>
							</table>
							<br><br><br>

							<br><br><br>

						</div>
						
						<div class="write nshadow">
							<div class="write_btn align_c mt35">
								<!-- <button class="btn btn_modify" onclick="location.href ='project_modify.html'">수정</button> -->
								<button class="btn" onclick="history.go(-1)">목록</button>
								<!-- <button class="btn btn_del">삭제</button> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
