<div th:replace="/manager/common/header.html"></div>
<div th:replace="/manager/common/gnb.html"></div>

<div class="sub_wrap">
	<aside id="lnb">
		<ul class="menu">
			<li><a href="/manager/customer/customer_list">회원 관리</a></li>
			<li><a href="/manager/project/project_now_list">프로젝트 관리</a></li>
			<li><a href="/manager/ordertab/order/order_list">결제 및 정산 관리</a></li>
			<li><a href="/manager/board/adminNoticeList">게시판관리</a></li>
		</ul>
	</aside>
	<div class="container clearfix">
		<div class="content">

			<div class="list">
				<div class="search_wrap">
					<div class="scrollable">
						<h1>관리자 메인페이지!</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>
